SPOTIFY_CLIENT_ID=your_client_id
SPOTIFY_CLIENT_SECRET=your_client_secret
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5050/callback
SESSION_SECRET=replace_with_a_long_random_string
FRONTEND_URL=http://127.0.0.1:3000
PORT=5050
